<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ユーザ新規登録</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="m-3">

<h1>ユーザ新規登録</h1>

<img class="mb-3" th:src="@{/images/nene_surprise.png}" width="100">

<h2 th:if="${isUserAlreadyExistsError}" class="text-danger">ユーザが登録済みです</h2>
<h2 th:if="${isUserFormError}" class="text-danger">ユーザの登録情報が誤っています</h2>

<form method="get" th:action="@{/user/register/confirm}"
      th:object="${userForm}">
  <div class="mb-3">
    <input class="form-control" pattern="[0-9a-zA-Z_\\-]+" placeholder="希望するID"
           required
           th:field="*{uid}" type="text">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="ニックネーム" required
           th:field="*{nickname}" type="text">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="パスワード" required
           th:field="*{password}" type="text">
  </div>
  <div class="mb-3">
    <input class="btn btn-primary" type="submit" value="登録する">
  </div>
</form>

<form method="get" th:action="@{/}">
  <input class="btn btn-warning" type="submit" value="やめる">
</form>

</body>
</html>